.carousel {
    // Styles for the carousel container

    width: 100%;
    height: 400px;

    &-image {
        // Styles for the carousel image container
        width: 100%;
        height: 100%;
        img {
            // Styles for the image
            object-fit: contain;
        }
    }

    &-controls {
        // Styles for the carousel controls container

        .prev,
        .next {
            // Styles for the control buttons
        }
    }

    &-indicators {
        // Styles for the carousel indicators container

        span {
            // Styles for each indicator

            &.active {
                // Styles for the active indicator
            }
        }
    }
}