.navBar {
    // border: solid 1px black;
    // background-color: #0b0c18;
    min-height: 80px;
    color: rgb(255, 255, 255);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #1A2324;
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; // Assure que la barre de navigation est au-dessus des autres éléments
}
.navBar__lang {
    button {
        background: none;
        border: none;
        cursor: pointer;
        font-size: 24px;
        padding: 4px;
        margin-left: 8px;
        outline: none;

        &:disabled {
            cursor: default;
            opacity: 0.6;
        }

        &:not(:disabled):hover {
            color: #1a2561; // couleur au hover
        }
    }
}
.navBar__profile {
    margin-left: 10px;
    display: flex;
    align-items: center;

    img {
        border-radius: 100%;
        margin-right: 10px;
    }
}

.navBar__menu {
    display: flex;

    
    &_link {
        text-decoration: none;
        display: inline-block;
        padding: 5px 5px;
        // border-radius: 10px;
        text-align: center;
        margin-right: 5px;
        width: 80px;
        color: rgb(255, 255, 255);

        &:hover {
            // background-color: #283a9d;
            color:teal;
            cursor: pointer;
            border-bottom: teal solid 2px; 
        }

        &.selected {
           border-bottom: teal solid 2px; 
        }
    }
}

.navBar__network {
    margin-right: 10px;
    display: flex;
    align-items: center;

    &_img {
        background-color: white;
        border-radius: 100%;
        margin-right: 10px;
    }
}