<div class="header">
  <div class="header__blob header__blob--red"></div>
  <div class="header__blob header__blob--blue"></div>
  <div class="header__container header__container">
    <div class="header__container header__container--left">
      <div class="header__title">
        <h1>Allan PEREZ</h1>
        <h2>Developpeur Full Stack</h2>
        <h3>Prêt à relever de nouveaux challenges.</h3>
      </div>

      <div class="header__links">
        <div class="header__link">
          <div class="header__link--title">{{ "resume" | translate }}</div>
          <div class="header__link--icons">
            <img src="/assets/Java.svg" alt="Java" class="header__link--icon" />
            <img
              src="/assets/Python.svg"
              alt="Python"
              class="header__link--icon"
            />
            <img
              src="/assets/Angular.svg"
              alt="Angular"
              class="header__link--icon"
            />
            <img
              src="/assets/Docker.svg"
              alt="Docker"
              class="header__link--icon"
            />
          </div>
        </div>
        <div class="header__link">
          <div class="header__link--title">{{ "projects" | translate }}</div>
          <div class="header__link--icons">
            <img
              src="/assets/github.svg"
              alt="GitHub"
              class="header__link--icon"
            />
            <img
              src="/assets/gitlab.svg"
              alt="Gitlab"
              class="header__link--icon"
            />
          </div>
        </div>
        <div class="header__link">
          <div class="header__link--title">{{ "about" | translate }}</div>
          <div class="header__link--icons">
            <img
              src="/assets/about-me-icon.svg"
              alt="About me"
              class="header__link--icon"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="header__container header__container--right">
      <div class="header__profile">
        <img src="/assets/pro.png" alt="Profile" />
      </div>
    </div>
  </div>
</div>
